<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {# <title>{{ title | JobSeeker('Modern Business - Start Bootstrap Template') }}</title> #}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('/styles/assets/favicon.ico') }}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('/styles/css/styles.css') }}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        {%
            include "./header/header.html.twig"
        %}
        <main class="flex-shrink-0">
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{{ asset('images/section1.jpg') }}" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our founding</h2>
                            <p class="lead fw-normal text-muted mb-0">Lorem ipsum...</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Add more sections here -->
        </main>
        <!-- Footer-->
        {%
            include "./footer/footer.html.twig"
        %}
        <!-- Scripts-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ asset('/styles/js/scripts.js') }}"></script>
    </body>
</html>
